.selected {
  background-color: rgb(71, 195, 248);
  color: rgb(163, 206, 146);
}

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    &.selected:hover {
      background-color: rgb(52, 195, 214) !important;
      color: rgb(250, 39, 39);
    }
    &:hover {
      color: #ff223f;
      background-color: #DFD;
      left: .2em;
    }
  }
  .text {
    position: relative;
    top: -3px;
    color: #b1b185;
  }
  .badge {
    display: inline-block;
    font-size: small;
    color: rgb(56, 18, 18);
    padding: 0.8em 0.7em 0 0.7em;
    background-color: rgb(106, 188, 230);
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
}